details.task > summary::before {
  content: "Oppgave: ";
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80rem;
  margin: auto;
}

dl > dt {
  font-weight: bold;
}

figure {
  position: relative;
  width: 40%;
  margin: auto;
}

svg {
  padding: 10px;
  border: 1px solid black;
}

svg .axes {
  stroke-width: 0.01em;
  stroke: black;
}

.contour {
  position: relative;
}

.controlpanel {
  position: absolute;
  top: 0;
  left: 0;
}

figcaption::before {
  content: "Figur: ";
  font-weight: bold;
}

[module] {
  border: 2px solid black;
  padding: 30px;
}

[id|="throws"] {
  font-family: monospace;
  max-width: 50%;
}
